<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Students Complaint Management System</title>
    <link rel="icon" href="images/main_icon.png">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt="LOGO">
                <h1>GIK Institute Complaint Cell</h1>
            </div>
            <ul class="navbar-list">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign up</a></li>
            </ul>
        </nav>
        <div class="head-img">
            <h2>We are here for your help</h2>
        </div>
    </header>
    <main>
        <div class="desc-1">
            <div class="description-1">
                <h2>Superman to the rescue!</h2>
                <p>There has always been a need for improvement in every aspect of a facility, to better cater to its users. GIK Complaints Cell is a comprehensive tool for the residents of GIK Institute, be they students, faculty members, or other employees. This portal can help you get your issues resolved in the easiest way possible. Your complaint can be assigned to anyone in the Institute, as the portal is linked to the extensive GIK Institute database</p>
            </div>
            <img src="images/main2.png" alt="Assist">
        </div>
        <div class="desc-1 desc-2">
            <img src="images/main3.png" alt="Assist">
            <div class="description-1">
                <h2>Software with benefits!</h2>
                <p>The GIKI Complaints Portal is here! You can use the Complains Portal to lodge any complaints you might have, be they about the messing, reservations about the instructors or their methods of teaching, or issues in your rooms. The GIKI Complaints portal can aid you in the resolution of all your issues. You can also rate your level of satisfaction about the solutions and can actively track the status of your complaints through this portal. Solving problems has never been easier for the students of GIK Institute</p>
            </div>
        </div>
        <div class="about">
            <h2>How it works</h2>
            <p>Create your account using the Sign In button on the top right of the main page. You will be redirected to the sign in page, where you will enter your credentials and details. Once all the details are filled, and your account is created, use your login credentials to log in to the portal. Lodge any issue, and the sent complaints will show up in the sent complaints page. You can access the sent complaints by clicking the “Sent Complaints” box on your main page. You can also receive complaints that are lodged by other portal users. You can access these complaints through the “Received Complaints” box on your main page. At the end of the session, you may log out of the portal using the “Log Out” button</p>
        </div>
    </main>
    <footer>
        <div class="contact">
            <div class="icon">
                <a href="https://www.instagram.com/">
                    <img src="images/insta_logo.png" alt="Instagram">
                </a>
                <h3>Instagram</h3>
            </div>
            <div class="icon">
                <a href="https://www.facebook.com/">
                    <img src="images/facebook_logo.png" alt="Facebook">
                </a>
                <h3>Facebook</h3>
            </div>
            <div class="icon">
                <img src="images/call_logo.png" alt="Call">
                <h3>(0938) 271858</h3>
            </div>
        </div>
        <div class="web">
            <h3>GIK Website</h3>
            <a href="https://giki.edu.pk/">
                <img src="images/footer_web.jpeg" alt="web">
            </a>
        </div>
        <div class="navbar-list list2">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign up</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>